# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/

# env
.env
.env.*
!.env.example

# misc
.DS_Store
Thumbs.db
*.log
.vercel
.turbo
coverage/

# editor
.idea/
.vscode/*
!.vscode/extensions.json

# next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# tests
test-results/
playwright-report/
